flows (4).json
[{"id":"dc72e1da.13daf","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"2db12ea2.183eb2","type":"ui_text","z":"dc72e1da.13daf","group":"bbeef8bd.0df5b8","order":15,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":990,"y":200,"wires":[]},{"id":"1ffe67dd.5ba228","type":"function","z":"dc72e1da.13daf","name":"","func":"msg.payload = msg.payload.density\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["2db12ea2.183eb2"]]},{"id":"13a52c44.c15304","type":"ibmiot in","z":"dc72e1da.13daf","authentication":"apiKey","apiKey":"be65ad11.fcdf5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2002","applicationId":"","deviceType":"VITDevices","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":200,"wires":[["1ffe67dd.5ba228","fa4f9941.d6ab08"]]},{"id":"fa4f9941.d6ab08","type":"function","z":"dc72e1da.13daf","name":"","func":"msg.payload = msg.payload.density_1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["8d2351f6.c3858","ca3843d8.ae90a"]]},{"id":"8d2351f6.c3858","type":"ui_chart","z":"dc72e1da.13daf","name":"","group":"bbeef8bd.0df5b8","order":18,"width":10,"height":5,"label":"Traffic density","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":140,"wires":[[]]},{"id":"ca3843d8.ae90a","type":"debug","z":"dc72e1da.13daf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"bbeef8bd.0df5b8","type":"ui_group","name":"traffic","tab":"ce06c931.a312b8","order":1,"disp":true,"width":24,"collapse":false},{"id":"be65ad11.fcdf5","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ce06c931.a312b8","type":"ui_tab","name":"Signs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]