flows (2) (1).json
[{"id":"173846e1.279909","type":"tab","label":"whether","disabled":false,"info":""},{"id":"7acf0eef.79b47","type":"debug","z":"173846e1.279909","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"bad85081.2d203","type":"ibmiot in","z":"173846e1.279909","authentication":"apiKey","apiKey":"be65ad11.fcdf5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2002","applicationId":"","deviceType":"VITDevices","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["4b5a1b17.4ef094","7acf0eef.79b47","db437855.a752a8","3d67a94.4e5d856","c34641c9.4afdc","a2e7682.b82fe98"]]},{"id":"4b5a1b17.4ef094","type":"function","z":"173846e1.279909","name":"Temperature","func":"\nmsg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["7acf0eef.79b47","721f39bd.d6d588","2bbac797.3f2348"]]},{"id":"db437855.a752a8","type":"function","z":"173846e1.279909","name":"Humidity","func":"msg.payload = msg.payload.humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["7acf0eef.79b47","5c543255.09b6ac","3cb708f2.86f258"]]},{"id":"3d67a94.4e5d856","type":"function","z":"173846e1.279909","name":"Visibility","func":"msg.payload = msg.payload.visible\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["7acf0eef.79b47","51fe758f.ad9dbc","2dbdacfe.9faae4"]]},{"id":"938af13f.b4a1c","type":"ui_text","z":"173846e1.279909","group":"964e7248.1d81a","order":8,"width":12,"height":2,"name":"","label":"sky description","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":520,"wires":[]},{"id":"c34641c9.4afdc","type":"function","z":"173846e1.279909","name":"","func":"msg.payload = msg.payload.des\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["7acf0eef.79b47","938af13f.b4a1c","a5f9596a.41f278"]]},{"id":"721f39bd.d6d588","type":"ui_gauge","z":"173846e1.279909","name":"","group":"964e7248.1d81a","order":4,"width":4,"height":3,"gtype":"gage","title":"Temp","label":".C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":280,"wires":[]},{"id":"5c543255.09b6ac","type":"ui_gauge","z":"173846e1.279909","name":"","group":"964e7248.1d81a","order":5,"width":4,"height":3,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":360,"wires":[]},{"id":"51fe758f.ad9dbc","type":"ui_gauge","z":"173846e1.279909","name":"","group":"964e7248.1d81a","order":6,"width":4,"height":3,"gtype":"gage","title":"Visibilty","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#ff0000","#e6e600","#0cb800"],"seg1":"3000","seg2":"6000","x":760,"y":440,"wires":[]},{"id":"a2e7682.b82fe98","type":"function","z":"173846e1.279909","name":"Speed","func":"msg.payload = msg.payload.Speed\ns = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":580,"wires":[["7acf0eef.79b47","d540cb2.dccd338"]]},{"id":"d540cb2.dccd338","type":"ui_text","z":"173846e1.279909","group":"964e7248.1d81a","order":13,"width":12,"height":2,"name":"","label":"Maintain Speed at(km/hr)","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":580,"wires":[]},{"id":"2bbac797.3f2348","type":"cloudant out","z":"173846e1.279909","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":240,"wires":[]},{"id":"3cb708f2.86f258","type":"cloudant out","z":"173846e1.279909","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":320,"wires":[]},{"id":"2dbdacfe.9faae4","type":"cloudant out","z":"173846e1.279909","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":400,"wires":[]},{"id":"a5f9596a.41f278","type":"cloudant out","z":"173846e1.279909","name":"","cloudant":"","database":"test","service":"node-red-olzbe-2021--cloudant-1625752150882-90579","payonly":true,"operation":"insert","x":750,"y":480,"wires":[]},{"id":"be65ad11.fcdf5","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"964e7248.1d81a","type":"ui_group","name":"Weather Data","tab":"baada719.0d8f98","order":1,"disp":true,"width":"30","collapse":false},{"id":"baada719.0d8f98","type":"ui_tab","name":"Smart Road traffic","icon":"dashboard","disabled":false,"hidden":false}]