flows (3).json
[{"id":"248fc341.a6179c","type":"tab","label":"Signsss","disabled":false,"info":""},{"id":"143af08c.9b179f","type":"http request","z":"248fc341.a6179c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://2b65707c-b34f-474b-99bc-9be10d93ff37-bluemix.cloudant.com/ped/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":140,"wires":[["394f0cd1.93fe34","7475c179.fd02d"]]},{"id":"29a31c60.1fb1d4","type":"debug","z":"248fc341.a6179c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"394f0cd1.93fe34","type":"function","z":"248fc341.a6179c","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["29a31c60.1fb1d4","d4af06cf.2511f8"]]},{"id":"daa08e31.41838","type":"ui_button","z":"248fc341.a6179c","name":"","group":"bbeef8bd.0df5b8","order":1,"width":7,"height":1,"passthru":false,"label":"Pedestrian","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":260,"wires":[["143af08c.9b179f"]]},{"id":"d4af06cf.2511f8","type":"ui_template","z":"248fc341.a6179c","group":"bbeef8bd.0df5b8","name":"","order":5,"width":11,"height":8,"format":"<img src = {{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":220,"wires":[[]]},{"id":"7475c179.fd02d","type":"delay","z":"248fc341.a6179c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":180,"wires":[["d4af06cf.2511f8"]]},{"id":"9fdf16b9.6e6388","type":"http request","z":"248fc341.a6179c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://2b65707c-b34f-474b-99bc-9be10d93ff37-bluemix.cloudant.com/sign_one/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":340,"wires":[["19ff48f2.5a8be7"]]},{"id":"fe9a2b4f.ba5c58","type":"debug","z":"248fc341.a6179c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"19ff48f2.5a8be7","type":"function","z":"248fc341.a6179c","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["fe9a2b4f.ba5c58","d4af06cf.2511f8"]]},{"id":"45374545.5f734c","type":"ui_button","z":"248fc341.a6179c","name":"","group":"bbeef8bd.0df5b8","order":3,"width":7,"height":1,"passthru":false,"label":"school zone","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":440,"wires":[["9fdf16b9.6e6388"]]},{"id":"715a2383.4ef45c","type":"http request","z":"248fc341.a6179c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://2b65707c-b34f-474b-99bc-9be10d93ff37-bluemix.cloudant.com/hospital_sign/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":520,"wires":[["7f10b77.ce57548"]]},{"id":"cdc052bf.22731","type":"debug","z":"248fc341.a6179c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"7f10b77.ce57548","type":"function","z":"248fc341.a6179c","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["cdc052bf.22731","d4af06cf.2511f8"]]},{"id":"ff55d46a.ca7b98","type":"ui_button","z":"248fc341.a6179c","name":"","group":"bbeef8bd.0df5b8","order":7,"width":7,"height":1,"passthru":false,"label":"hospital","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":560,"wires":[["715a2383.4ef45c"]]},{"id":"3f844f66.b2252","type":"http request","z":"248fc341.a6179c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://2b65707c-b34f-474b-99bc-9be10d93ff37-bluemix.cloudant.com/stop/_all_docs?include_docs=true&desending=true","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":660,"wires":[["9652fa3f.e245e8"]]},{"id":"b66abdf7.d94ff","type":"debug","z":"248fc341.a6179c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"9652fa3f.e245e8","type":"function","z":"248fc341.a6179c","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":620,"wires":[["b66abdf7.d94ff","d4af06cf.2511f8"]]},{"id":"c69ee5cd.86c588","type":"ui_button","z":"248fc341.a6179c","name":"","group":"bbeef8bd.0df5b8","order":10,"width":7,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":720,"wires":[["3f844f66.b2252"]]},{"id":"bbeef8bd.0df5b8","type":"ui_group","name":"traffic","tab":"ce06c931.a312b8","order":1,"disp":true,"width":24,"collapse":false},{"id":"ce06c931.a312b8","type":"ui_tab","name":"Signs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]